/* Fonts */
.bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300; 
    font-style: normal;
}

/* Main content */
body {
    font-family: Arial, sans-serif;
    min-height: 1000vh; 
    margin: 0;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p {
    font-family: "Bricolage Grotesque", sans-serif;
    color: black; 
    font-size: 50px;
    display: block;
    margin: 0 20px; 
}

h2 {
    position: absolute; 
    left: -9999px; 
    width: 1px; 
    height: 1px; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0); 
    border: 0; 
}

.content {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rotate-zoom {
    width: 300px;
    height: 300px;
    transition: transform 0.1s; 
}

.animated-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.animated-image, #thank-you {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.animated-image.show, #thank-you.show {
    opacity: 1;
    visibility: visible;
}

.scroll-white h1, .scroll-white p {
    color: white;
}
